@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}

<h1>My First ASP.NET Web App</h1>
<h2>Scott Olson</h2>
<div class="d-flex align-items-center">
    <img src="img/headshot.jpg" />
    <p>
        In the past I have built websites using Django, and also Vue/express.
        However, I have always questions on why things work how they do.
        I just changed random things until things began to work. When I started using
        django last semester, I finally began understanding what I was doing and why.
        But, django is not good for building large enterprise projects. I want to learn those same
        skills but with what is used in the job field.
    </p>
</div>

<h3>Jobs I may want to pursue:</h3>
<ul>
    <li>Blockchain Developer</li>
    <li>Systems Analyst/Architect</li>
    <li>Backend Developer</li>
</ul>